:root {
  --dark: #b2b1b3;
  --light: #d0d0d0;
  --purple: #8A6FC4;
  --blue: #4C5CA2;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--light);
  color: #fff;
}

header {
  background-color: var(--dark);
  padding: 5px;
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}
h1 {
  margin: 0;
  font-size: 32px;
  color: #fff;
}
.header-section {
  display: flex;
  align-items: center;
  margin-right: 60px;
}
.header-section label {
  margin-right: 10px;
  color: #fff;
}
.header-logo {
  margin-left: 20px;
}

#stock-input,
#start-date-input,
#end-date-input {
  padding: 8px;
  border-radius: 4px;
  border: none;
}
#search-button {
  padding: 8px 16px;
  margin-left: 5px;
  background-color: var(--blue);
  border: none;
  color: #fff;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}

#search-button:hover {
  background-color: var(--purple);
}

#clear-button {
  padding: 8px 16px;
  margin-left: 5px;
  background-color: var(--blue);
  border: none;
  color: #fff;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}

#clear-button:hover {
  background-color: var(--purple);
}

.main{
  display: flex;
  flex: 1;
  padding: 10px;
  margin: 10px;
 
}

#history-container {
  flex: 1;
  max-width: 500px;
  margin: 20px;
  padding: 20px;
  background-color: #333;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

#chart-container {
  flex: 1;
  max-width: 800px;
  margin: 20px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

#news-container {
  flex: 1;
  max-width: 800px;
  margin: 20px;
  padding: 20px;
  background-color: #333;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.news-article {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #666;
}
.news-article h2 {
margin-top: 0;
font-size: 24px;
color: #fff;
text-align: center;
}
.article-info {
font-size: 14px;
color: #ccc;
margin-bottom: 10px;
}

.article-content {
font-size: 16px;
color: #fff;
line-height: 1.5;
}

.news-box{
  color: var(--blue);
  background-color: var(--light);
  padding: 10px;
  margin: 10px;
  border: var(--dark);
  border-radius: 2px;
}

.history-box{
  color: var(--blue);
  background-color: var(--light);
  padding: 10px;
  margin: 10px;
  border: var(--dark);
  border-radius: 2px;
}

footer {
text-align: center;
padding: 10px;
background-color: var(--purple);
color: #fff;
}

@media screen and (max-width: 768px) {
  main {
    flex-direction: column;
  }
}