:root {
  --dark: #e9e9e9;
  --mid: #f0efef;
  --light: #F7F7F7;
  --purple: #8A6FC4;
  --blue: #4C5CA2;
  --blue-purple: radial-gradient(circle, rgba(76,92,162,1) 10%, rgba(138,111,196,1) 72%);
  --purple-blue: radial-gradient(circle, rgba(138,111,196,1) 10%, rgba(76,92,162,1) 72%);
}

body {
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--light);
  color: #464646;
}

header {
  background-color: var(--dark);
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.header-section {
  display: flex;
  align-items: center;
}

.header-section label {
  margin-right: 10px;
  color: #464646;
}

h1 {
  margin: 0;
  font-size: 32px;
  color: #464646;
}

button {
  padding: 7px;
  margin: 3px;

  align-items: center;
  align-content: center;
  justify-content: center;
}

#stock-input,
#start-date-input,
#end-date-input {
  padding: 8px;
  border-radius: 4px;
  border: none;
  font-family: Helvetica, sans-serif
}

#search-button {
  padding: 8px 16px;
  margin-left: 5px;
  background: var(--blue);
  border: none;
  color: #fff;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}

#search-button:hover {
  background: var(--purple);
}

#clear-button {
  padding: 8px 16px;
  background: var(--blue);
  border: none;
  color: #fff;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}

#clear-button:hover {
  background: var(--purple);
}

.row {  
  display: flex;
  flex-wrap: wrap;
}

.left {
  flex: 10%;
}

.center {
  flex: 60%;
}

.right {
  flex: 30%;
}

#history-container {
  margin: 10px;
  padding: 10px;
  background-color: var(--mid);
  border-radius: 5px;
  text-align: center;
  align-self: auto;
  min-height: 80vh;
}

.history-article {
  text-align: center;
  margin-top: -15px;
}

#historyPanel {
  text-align: center;
  justify-content: center;
}

.chartContainer{
  display: flex;
  flex-wrap: wrap;

}

#chart-container {
  background: var(--dark);
  margin: 10px;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  min-height: 80vh;
}

#news-container {
  margin: 10px;
  padding: 20px;
  background-color: var(--mid);
  border-radius: 5px;
  min-height: 80vh;

}

#newsPanel {
  background-color: var(--dark);
  border-radius: 5px;
  padding: 10px;
}

.news-article h2 {
  margin-top: 10px;
  font-size: 24px;
  color: #464646;
  text-align: center;
}

.article-info {
  font-size: 14px;
  color: #ccc;
  margin-bottom: 10px;
}

.article-content {
  font-size: 16px;
  color: #464646;
  line-height: 1.5;
}

h3 {
  font-size: small;
  padding: 5px;
  text-align: right;
}

a:hover,
a:active,
a:link {
  color: var(--purple);
}

a:visited {
  color: var(--blue);
}

footer {
  text-align: center;
  padding: 10px;
  background-color: var(--purple);
  color: #fff;
}

@media screen and (max-width: 1027px) {
  .row, header {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 1027px) {
  .header-section {
    padding: 5px;
    justify-content: center;
    margin-bottom: 5px;
  }
}